<div class="lg:px-[120px] px-[1rem] pt-[1rem] grid grid-cols-1 lg:grid-cols-4">
  <div>
    <ul class="text-left hidden lg:block text-[#212121] font-bold text-lg">
      <li class="text-[#212121] font-bold text-lg">Product</li>
      <li class="text-[#757575] font-normal text-sm">Diam Orci</li>
      <li class="text-[#757575] font-normal text-sm">Mi feugiat</li>
      <li class="text-[#757575] font-normal text-sm">Netus fementum</li>
      <li class="text-[#757575] font-normal text-sm">Suspendisse viverra</li>
      <li class="text-[#757575] font-normal text-sm">Id dolor</li>
      <li class="text-[#757575] font-normal text-sm">Erat mattis</li>
    </ul>
  </div>
  <div>
    <ul class="text-left hidden lg:block text-[#212121] font-bold text-lg">
      <li>Iformation</li>
      <li class="text-[#757575] font-normal text-sm">Nibh</li>
      <li class="text-[#757575] font-normal text-sm">Egestas</li>
      <li class="text-[#757575] font-normal text-sm">Dictum</li>
    </ul>
  </div>
  <div>
    <ul class="text-left hidden lg:block text-[#212121] font-bold text-lg">
      <li>Company</li>
      <li class="text-[#757575] font-normal text-sm">Id maecenas</li>
      <li class="text-[#757575] font-normal text-sm">Id orci</li>
      <li class="text-[#757575] font-normal text-sm">Magna ultricies</li>
      <li class="text-[#757575] font-normal text-sm">Quis risus</li>
    </ul>
  </div>
  <div class="bg-[#EFF3FD] mt-[1rem]">
    <div
      class="text-sm text-[#212121] font-bold lg:text-lg lg:p-[2rem] p-[1rem]"
    >
      <h1 class="font-bold pb-[2rem]">Subscribe</h1>
      <div class="flex justity-between rounded-r-lg pb-[1rem]">
        <input
          type="text"
          class="outline-none py-3 px-3 font-normal text-[#616161]"
          placeholder="Email address"
        />
        <div class="py-3 px-3 bg-[#1889F1] rounded-r-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon"
            fill="none"
            stroke="white"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <polyline points="9 18 15 12 9 6" />
          </svg>
        </div>
      </div>
      <h1 class="text-[#616161] lg:text-md text-sm font-normal">
        Gravida sed justo, justo, id est et. Amet tristique convallis sed
        porttitor nullam eu ut. Duis et odio aliquam bibendum. Metus et lectus
        id viverra fringilla magna morbi.
      </h1>
    </div>
  </div>
</div>
<div class="lg:hidden mt-[1rem]">
  <h1 class="text-[#212121] font-bold text-lg text-center">Product</h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">Diam Orci</h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">Mi feugiat</h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">Netus fementum</h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">
    Suspendisse viverra
  </h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">Id dolor</h1>
  <h1 class="text-[#757575] font-normal text-sm text-center">Erat mattis</h1>
</div>
