<div class="py-[80px] lg:px-[120px] px-[1rem]">
  <h1 class="text-center text-[#212121] text-[48px] font-semibold leading-none">
    What Our Client Says
  </h1>
  <h1 class="text-center text-[20px] font-normal text-[#757575] py-[32px]">
    Neque, pulvinar vestibulum non aliquam.
  </h1>
</div>

<!-- slider carousel -->
<div class="flex justify-center lg:px-[120px] px-[1rem]">
  <div class="flex justify-between items-center">
    <h1 class="h-[50px] w-[50px] rounded-full flex justify-center items center">
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down inline rotate-90"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
    </h1>
    <h1 class="text-center text-[40px] text-[#424242]">
      “Pellentesque maecenas vitae vehicula eget. Ultricies ac id massa maecenas
      nulla arcu lacus. Turpis porttitor.”
    </h1>
    <h1 class="flex justify-center items center">
      <button class="h-[40px] w-[40px] bg-gray-100 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down inline -rotate-90"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </button>
    </h1>
  </div>
</div>

<div
  class="flex flex-row justify-center gap-3 items-center mt-[50px] mb-[80px]"
>
  <div
    class="w-[50px] h-[50px] bg-[#F5F5F5] rounded-full flex items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="main-grid-item-icon"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
      <circle cx="12" cy="7" r="4" />
    </svg>
  </div>
  <div class="flex flex-col gap-3">
    <h1 class="font-semibold text-[24px] text-[#424242]">Courtney Henry</h1>
    <h1 class="text-[16px] font-normal text-[#757575]">
      Marketing Coordinator
    </h1>
  </div>
</div>
<div class="lg:px-[120px] px-[1rem]">
  <div class="bg-[#F7F9FE] p-[2rem]">
    <h1 class="text-[#757575] text-sm lg:text-lg text-center">
      Rhoncus, accumsan dictum
    </h1>
    <h1
      class="text-center text[#212121] py-[1rem] lg:text-[48px] text-xl mb-[1rem]"
    >
      Etiam nulla lectus amet nunc molestie at vulputate.
    </h1>
    <div class="flex justify-center lg:flex-row gap-3 flex-col">
      <button
        class="bg-[#3563E9] text-white py-2 px-3 flex justify-center items-center"
      >
        <h1>Get Free Quotes</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
      <button
        class="text-[#3563E9] bg-white py-2 px-3 flex justify-center items-center border border-[#3563E9]"
      >
        <h1>Get SignUp</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
    </div>
  </div>
</div>
