<div
  class="h-[79px] bg-[#EEAC00] flex justify-between items-center lg:w-[1440px] xl:w-full mx-auto px-[1rem]"
>
  <div class="flex items-center flex-row gap-1">
    <img
      src="/assets/public/logo.png"
      alt="muusta_logo"
      class="w-[20px] h-[20px] font-bold"
    />
    <h1 class="font-bold text-[20px] text-white">Muuster</h1>
  </div>

  <button class="flex items-center justify-between lg:gap-[20px] gap-[10px]">
    <div class="flex text-white items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <circle cx="12" cy="12" r="10" />
          <line x1="2" x2="22" y1="12" y2="12" />
          <path
            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
          />
        </svg>
      </div>
      <h2 class="font-bold text-[24px]">EN</h2>
    </div>

    <div
      class="bg-white rounded-sm text-[#EEAC00] lg:hidden flex justify-center items-center px-2 py-1"
    >
      <h2 class="rounded-sm font-medium text-sm">Login</h2>
    </div>
    <div
      class="text-white rounded-sm bg-[#1889F1] lg:hidden flex justify-center items-center px-2 py-1"
    >
      <h2 class="whitespace-nowrap font-medium text-sm">Join Muusta</h2>
    </div>
    <div
      class="hidden lg:block p-1 text-[#EEAC00] rounded-sm bg-white lg:w-[215px]"
    >
      <h2
        class="text-[16px] rounded-sm whitespace-nowrap md:text-sm font-medium lg:text-[16px] py-1 px-2"
      >
        Join as a Shopper
      </h2>
    </div>
    <div
      class="hidden lg:block p-1 lg:px-6 text-white bg-[#1889F1] rounded-sm lg:w-[215px]"
    >
      <h2
        class="text-[16px] rounded-sm whitespace-nowrap md:text-sm font-medium lg:text-[16px] py-1 px-3"
      >
        Join as a Vendor
      </h2>
    </div>
  </button>
</div>
