<div
  class="hero bg-orange-500 lg:h-[735px] flex justify-center items-center py-[5rem] lg:py-0 px-[1rem]"
>
  <div
    class="grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-10 gap-5 text-white"
  >
    <div></div>
    <div class="lg:w-[539px] leading-none">
      <h2 class="font-bold text-[56px] leading-snug lg:text-left text-center">
        Personalized Product Servicing
      </h2>
      <h1
        class="text-[16px] font-normal lg:py-[2rem] py-[1rem] lg:text-left text-center"
      >
        Join millions of local merchants selling products to markets that are
        suited for your products.
      </h1>
      <div class="flex justify-center lg:justify-start">
        <button class="bg-[#1889F1] text-[18px] py-2 px-3 w-[205px] h-[52px]">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>
