<div class="px-[1rem] lg:py-[80px] lg:px-[120px]">
  <div class="text-center lg:w-[1200px] mx-auto">
    <h1 class="font-bold text-[20px] text-[#757575] mt-[80px] mb-[20px]">
      Are You A Seller?
    </h1>
    <h1 class="text-[48px] font-semibold text-[#212121] leading-none">
      Shop & Inventory Management For SME's
    </h1>
    <h1 class="font-normal text-[20px] text-[#757575] mt-[32px]">
      Get Connected To The Most Advanced Shop And Utility Management Tools For
      Better Insights And System Audit.
    </h1>
  </div>
  <div
    class="lg:grid lg:grid-cols-3 py-[90px] gap-[0.5rem] flex flex-col-reverse"
  >
    <div class="flex flex-col gap-[32px] lg:w-10/12">
      <div class="border border-gray-400 rounded-lg lg:h-[255px] p-[1rem]">
        <div
          class="h-[58px] w-[58px] bg-[#E7ECFC] flex justify-center items-center rounded-lg py-[16px]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon"
            fill="none"
            stroke="#2851E3"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <polyline points="16 16 12 12 8 16" />
            <line x1="12" x2="12" y1="12" y2="21" />
            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3" />
            <polyline points="16 16 12 12 8 16" />
          </svg>
        </div>
        <h1 class="text-[24px] font-semibold text-[#212121] py-[16px]">
          Lucus Nunc,Quam
        </h1>
        <p class="text-[16px] font-normal text-[#757575]">
          Mattis amet, vel pulvinar nunc, diam. Sit pretium, nunc erat sed
          faucibus eget. Semper
        </p>
      </div>
      <div class="border border-gray-400 rounded-lg lg:h-[255px] p-[1rem]">
        <div
          class="h-[58px] w-[58px] bg-[#E7ECFC] flex justify-center items-center rounded-lg py-[16px]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon"
            fill="none"
            stroke="#2851E3"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
          </svg>
        </div>
        <h1 class="text-[24px] font-semibold text-[#212121] py-[16px]">
          Ultricies mi praesent
        </h1>
        <p class="text-[16px] font-normal text-[#757575]">
          Rutrum morbi tortor vulputate sed odio. Egestas in at etiam dolor quam
          pellentesque fringilla
        </p>
      </div>
      <div class="border border-gray-400 rounded-lg lg:h-[255px] p-[1rem]">
        <div
          class="h-[58px] w-[58px] bg-[#E7ECFC] flex justify-center items-center rounded-lg py-[16px]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon"
            fill="none"
            stroke="#2851E3"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <circle cx="12" cy="12" r="7" />
            <polyline points="12 9 12 12 13.5 13.5" />
            <path
              d="M16.51 17.35l-.35 3.83a2 2 0 0 1-2 1.82H9.83a2 2 0 0 1-2-1.82l-.35-3.83m.01-10.7l.35-3.83A2 2 0 0 1 9.83 1h4.35a2 2 0 0 1 2 1.82l.35 3.83"
            />
          </svg>
        </div>
        <h1 class="text-[24px] font-semibold text-[#212121] py-[16px]">
          Ullamcorper nam nunc
        </h1>
        <p class="text-[16px] font-normal text-[#757575]">
          Aliquam, iaculis eget ac urna volutpat. Sapien, nisi, id sit in luctus
          vel dui augue ut. Hac nisl
        </p>
      </div>
    </div>
    <div class="mb-[37px] col-span-2">
      <img
        src="/assets/public/Image3.png"
        alt=""
        class="lg:h-[829px] lg:w-[829px]"
      />
    </div>
  </div>
</div>
