<div class="lg:h-[816px] px-[1rem] lg:px-[120px]">
  <div
    class="font-semibold text-center text-[48px] py-3 leading-none text-gray-900 lg:py-[4rem]"
  >
    <h1 class="mt-[80px]">Get Access To Products On The Go</h1>
    <h1 class="text-[#757575] font-normal text-[20px] py-[2rem]">
      Neque,Pulvinar Vestibulum Non Aliquam.
    </h1>
  </div>
  <div>
    <div
      class="grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-10 gap-5 lg:mb-[80px]"
    >
      <div>
        <img
          src="/assets/public/Image2.png"
          alt="waitlist image"
          class="object-cover w-full lg:W-[652px] lg:h-[472px] rounded-lg"
        />
      </div>
      <div class="lg:w-[510px] lg:flex flex-col justify-center">
        <h1
          class="text-md font-medium lg:text-[32px] text-[#212121] mb-[2rem] text-center"
        >
          "Pelentesque Maecenas Vitae Vehicula Eget.Ultricies Ac Id Massa
          Maecenas NUlla Arcu Lacus .Turpis Porttitor."
        </h1>
        <h1
          class="text-md lg:text-[20px] text-[#757575] mb-[80px] whitespace-nowrap"
        >
          <span class="font-medium"> Courtney Henry - </span>
          Marketing Coordinator
        </h1>
      </div>
    </div>
  </div>
</div>
