@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center; /* Centers content vertically */
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; /* Centers.wrapper itself horizontally */

  @media only screen and (max-width: 1200px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

body {
  background-color: #ffffff;
}
